@tailwind base;
@tailwind components;
@tailwind utilities;

section.hero {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
  @apply flex h-10 w-full rounded-md text-sm border px-3 py-2 disabled:opacity-50 disabled:cursor-not-allowed;
}
input[type="text"]:disabled,
input[type="email"]:disabled,
input[type="password"]:disabled,
input[type="tel"]:disabled {
  @apply cursor-not-allowed;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.animate-bounce {
  animation: bounce 1s infinite;
}

@keyframes show {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.show-animate {
  animation: show 0.5s;
}
@keyframes hide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.hide-animate {
  animation: hide 2s;
}
