@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100vh;

  /*Hide scrollbar for Chrome, Safari and Opera*/
  ::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.PhoneInputCountrySelect:disabled {
  opacity: 1;
  background: transparent;
  pointer-events: none;
  appearance: none;
  -webkit-appearance: none;
  color: transparent;
}

section.hero {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"] {
  @apply flex h-8 sm:h-9 w-full rounded-md text-xs sm:text-sm border px-3 disabled:opacity-75 disabled:cursor-not-allowed;
}
input[type="text"]:disabled,
input[type="email"]:disabled,
input[type="password"]:disabled,
input[type="tel"]:disabled {
  @apply cursor-not-allowed;
}

input[type="text"]:focus-within,
input[type="email"]:focus-within,
input[type="password"]:focus-within,
input[type="tel"]:focus-within {
  @apply border-2 border-primary shadow-md outline-none transition-all ease-in-out;
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.animate-bounce {
  animation: bounce 1s infinite;
}

@keyframes show {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.show-animate {
  animation: show 0.5s;
}
@keyframes hide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.hide-animate {
  animation: hide 2s;
}

.loader {
  width: 60px;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side, #007d34 90%, #0000) 0 /
    calc(100% / 3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: l1 1s steps(4) infinite;
}
@keyframes l1 {
  to {
    clip-path: inset(0 -34% 0 0);
  }
}
